name: Cache Warmup

on:
  workflow_dispatch:
  push:
    branches:
      - main # caches from the main branch are shared with all other branches and pull requests

permissions:
  contents: read

env:
  # renovate: datasource=github-releases depName=jdx/mise
  MISE_VERSION: 2025.10.10

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Setup Mise
        uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
        with:
          version: ${{ env.MISE_VERSION }}

      - name: Cache pre-commit
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}-warmup
          restore-keys: ${{ runner.os }}-pre-commit-

      - name: Run pre-commit
        run: pre-commit install --install-hooks
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # required for GH API calls quota
