name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: read

env:
  # renovate: datasource=github-releases depName=helm/helm
  HELM_VERSION: v3.18.6

jobs:
  metadata-collector:
    uses: ./.github/workflows/metadata-collector.yaml

  version-check:
    uses: ./.github/workflows/version-check.yaml

  chart:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    needs: [metadata-collector, version-check]
    strategy:
      fail-fast: false
      matrix:
        chart: ${{ fromJSON(needs.metadata-collector.outputs.charts) }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Set up ORAS
        uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4

      - name: Build Helm dependencies
        run: scripts/helm-dependency-build.sh $CHART_NAME
        env:
          CHART_NAME: ${{ matrix.chart }}

      - name: Publish Helm chart
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io --username ${GITHUB_ACTOR} --password-stdin

          helm package charts/${CHART_NAME}
          helm push "$(realpath ${CHART_NAME}-*.tgz)" oci://ghcr.io/${REPOSITORY_NAME}

          helm registry logout ghcr.io
        env:
          REPOSITORY_NAME: ${{ github.repository }}
          CHART_NAME: ${{ matrix.chart }}

      - name: Update ArtifactHUB repo
        if: ${{ hashFiles(format('charts/{0}/artifacthub-repo.yml', matrix.chart)) != '' }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | oras login ghcr.io --username ${GITHUB_ACTOR} --password-stdin

          oras push ghcr.io/${REPOSITORY_NAME}/${CHART_NAME}:artifacthub.io \
            --config /dev/null:application/vnd.cncf.artifacthub.config.v1+yaml \
            charts/${CHART_NAME}/artifacthub-repo.yml:application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml

          oras logout ghcr.io
        env:
          REPOSITORY_NAME: ${{ github.repository }}
          CHART_NAME: ${{ matrix.chart }}
